*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .2s;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-image: url(wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.containerTasks{
    position: relative;
    width: 50%;
}
.containerTasks::after,
.containerTasks::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f0f0f0;
}
.containerTasks::after{
    top: 0;
    z-index: -1;
    right: -13px;
    background-color: #3906bb91;
    animation: top 5s linear infinite;
}
.containerTasks::before{
    bottom: 0;
    left: -13px;
    background-color: #4609bc61;
    animation: doun 5s linear infinite;
}
@keyframes top {
    0%,100%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
}
@keyframes doun {
    0%,100%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
}
.container{
    width: 100%;
    margin: 20px auto;
}
.form{
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 6px;
    background-color: #fff3;
    backdrop-filter: blur(10px);
}
.input{
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    background-color: #dbdbdbad;
    word-wrap: break-word;
}
.input:focus{
    background-color: #fff;
}
.input:focus{
    outline: none;
}
.submit{
    padding: 10px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    color: #fff;
    border-radius: 6px;
    background-color: #6018c2cc;
}
.tasks{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    border-radius: 6px;
    padding: 20px;
    background-color: #fff3;
    backdrop-filter: blur(10px);
}
.tasks .task{
    max-width: 100%;
    padding: 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
    cursor: pointer;
    background-color: white;
    border: 1px solid #ccc;

    overflow: auto;
    word-wrap: break-word;
}
.tasks .task:not(:last-child){
    margin-bottom: 15px;
}
.tasks .task:hover{
    background-color: #f7f7f7;
}
.tasks .task.done{
    opacity: .5;
    text-decoration-line: line-through;
}
.tasks .task span{
    cursor: pointer;
    font-weight: bold;
    font-size: 10px;
    padding: 3px 6px;
    border-radius: 4px;
    color: white;
    background-color: red;
}

@media screen and (max-width: 700px) {
    .containerTasks{
        width: 90%;
    }
}